.home {
  font-family: Inter, sans-serif;

  padding-top: 15vh;
  /* height: 100vh; */
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-name {
  font-size: 90px;
  font-weight: 700;
  color: rgb(71, 71, 71);
  height: 40vh;
  display: flex;
  align-items: flex-end;
}

.home-description {
  color: rgb(71, 71, 71);
  font-size: 20px;
  flex: 3;
  width: 50vw;
  text-align: center;
  line-height: 5vh;
}

.education-container {
  margin-top: 20vh;
  margin-bottom: 100vh;
  display: flex;
  flex: 1;
  align-self: flex-start;
  width: 100vw;
  align-items: center;
}

.education {
  font-size: 20px;
  margin-left: 3vw;
  letter-spacing: 2px;
  /* margin-bottom: 50vh; */
}

.education-line {
  flex: 1;
  height: 1.5px;
  background-color: rgb(71, 71, 71);
  margin-left: 2vw;
  margin-right: 2vw;
}

.cursor {
  color: rgb(71, 71, 71);
  opacity: 1;
}

.education-container.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
