.navbar {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 2vw;
}

.navbar a {
  font-size: x-large;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-weight: 900;
}

.navbar a:hover {
  color: rgb(164, 163, 163);
}

@media (max-width: 768px) {
  .navbar {
    top: 0;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 1rem;
    font-size: 2vw;
  }

  .navbar a {
    font-size: small;
  }
}

/*---------------------------------------------------------------------------------------------------------*/

.homepage {
  font-family: sans-serif;
  background-color: rgb(0, 161, 161);
}

.homepage .right-image {
  width: auto;
  /*image too big, please make it smaller*/
  height: 100vh;
}

.homepage .content-wrapper {
  display: flex;
  align-items: center;
}

.homepage .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .basics {
  text-align: left;
  font-size: 3.5vw;
  color: whitesmoke;
}

.homepage .basics em {
  color: orange;
  font-style: normal;
}

.homepage .intro {
  padding-left: 9vw;
  text-align: left;
  font: 1.5vw;
  color: black;
}

/* .homepage .learn-more-btn {
  width: 10vw;
  height: 8vh;
  border: none;
  border-radius: 7%;
  background-color: rgb(0, 96, 96);
  font-size: 1.25vw;
  color: white;
  transition: background-color 0.5s ease;
} */
.homepage .learn-more-btn {
  top: 10vh;
  width: 6vw;
  height: 6vw; /* Make sure the height and width are the same for a perfect circle */
  border: none;
  border-radius: 50%; /* This makes the button circular */
  background-color: rgb(0, 125, 125);
  font-size: 1.25vw;
  color: white;
  transition: all 0.5s ease;
  position: relative; /* Needed for the bobbing animation */
  animation: bob 2s infinite;
}

/* triangle for the arrow */
.homepage .learn-more-btn::after {
  content: "";
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  border-top: 2vw solid rgb(146, 255, 250); /* Creates a down arrow */
}

/* line for the arrow */
.homepage .learn-more-btn::before {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.5vw;
  height: 6vh;
  background-color: rgb(146, 255, 250);
}
/* Define the bobbing animation */
@keyframes bob {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .homepage {
    padding-top: 15vh;
    height: 100vh;
    padding-left: 5vw;
  }

  .homepage .basics {
    font-size: 1.5em;
    padding-left: 9vw;
  }

  .homepage .intro {
    font-size: 0.9em;
    line-height: 3vh;
  }

  .homepage .learn-more-btn {
    height: 7vh;
    width: 7vh; /* make it circular, width should be equal to height */
    border-radius: 50%; /* make it circular */
    font-size: 0.75em;
  }

  .homepage .learn-more-btn::after {
    border-left: 2.5vw solid transparent;
    border-right: 2.5vw solid transparent;
    border-top: 3vw solid rgb(146, 255, 250); /* Creates a down arrow */
  }

  .homepage .learn-more-btn::before {
    width: 1.5vw;
    height: 3vh;
  }

  .homepage .content-wrapper {
    display: flex;
    flex-direction: column;
  }

  .homepage .right-image {
    order: 1;
    width: auto;
    height: 40vh;
    padding-bottom: 5vh;
  }

  .homepage .text-wrapper {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*---------------------------------------------------------------------------------------------------------*/

.about {
  padding-top: 3vh;
}

/*---------------------------------------------------------------------------------------------------------*/

.project {
  padding-top: 3vh;
}

/*---------------------------------------------------------------------------------------------------------*/

.contact {
  padding-top: 3vh;
}

/*---------------------------------------------------------------------------------------------------------*/

.sideBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 4vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left: 2vw;
  z-index: 999;
  background-color: rgb(8, 76, 76);
}

.logo {
  width: 2.4vw;
  height: 4.75vh;
  margin-bottom: 4vh;
}

@media (max-width: 767px) {
  .sideBar {
    width: auto;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .logo {
    width: 4vh;
    height: auto;
    margin-bottom: 3vh;
  }
}
