.navbar {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  z-index: 999;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 2vw;
}

.navbar a {
  font-size: x-large;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbar a:hover {
  color: rgb(164, 163, 163);
}

@media (max-width: 768px) {
  .navbar {
    top: 0;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 1rem;
    font-size: 2vw;
  }

  .navbar a {
    font-size: smaller;
  }
}

/*---------------------------------------------------------------------------------------------------------*/

.homepage {
  font-family: "Times New Roman", Times, serif;
  padding-top: 6vh;
  background-color: rgb(255, 249, 220);
}

.homepage .right-image {
  width: 100%;
  height: auto;
}

.homepage .content-wrapper {
  display: flex;
  align-items: center;
}

.homepage .text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .basics {
  padding-left: 10vw;
  text-align: left;
  font-size: 3.5vw;
  color: rgb(0, 0, 89);
}

.homepage .intro {
  padding-left: 9vw;
  text-align: left;
  font: 1.5vw;
  word-spacing: 0.25em;
}

.homepage .learn-more-btn {
  width: 10vw;
  height: 8vh;
  border: none;
  border-radius: 7%;
  background-color: orange;
  font-size: 1.25vw;
  color: white;
  transition: background-color 0.5s ease;
}

.homepage .learn-more-btn:hover {
  background-color: orangered;
}

@media (max-width: 768px) {
  .homepage .basics {
    font-size: auto;
  }

  .homepage .intro {
    font-size: 3vw;
  }

  .homepage .learn-more-btn {
    height: 4vh;
  }

  .right-image {
    width: 100%;
    height: auto;
  }
}

/*---------------------------------------------------------------------------------------------------------*/

.about {
  padding-top: 3vh;
}

/*---------------------------------------------------------------------------------------------------------*/

.project {
  padding-top: 3vh;
}

/*---------------------------------------------------------------------------------------------------------*/

.contact {
  padding-top: 3vh;
}

/*---------------------------------------------------------------------------------------------------------*/

.sideBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left: 2vw;
  z-index: 999;
}

.logo {
  width: 2.4vw;
  height: 4.75vh;
  margin-bottom: 4vh;
}

@media (max-width: 767px) {
  .sideBar {
    height: auto;
    padding-left: auto;
    justify-content: flex-start;
  }
  .logo {
    width: 15%;
    height: auto;
  }
}
