body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
html {
  /* background: #d3d3d3;
  background: linear-gradient(
    180deg,
    rgba(211, 211, 211, 1) 0%,
    rgba(112, 112, 112, 1) 50%,
    rgba(211, 211, 211, 1) 100%
  ); */
  background-color: rgb(245, 245, 245);
  overflow-x: hidden;
}
